@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #F9F9F9;
  --bg-pry: #E5E7EB;
  --fg-main: #171717;
  --base-1: #000000;
  --base-2: #FFFFFF;
  --text-sec-1: #6B7280,
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #000000;
    --bg-pry: #E5E7EB;
    --fg-main: #EDEDED;
    --base-1: #F9FAFB;
    --base-2: #343434;
    --text-sec-1: #9CA3AF;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .visual-hide {
    visibility: null;
    overflow: hidden;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    opacity: 0;
    white-space: nowrap; 
    position: absolute;
    height: 1px;
    width: 1px;
  }
}
