@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #F9F9F9;
  --bg-pry: #E5E7EB;
  --fg-main: #171717;
  --base-1: #000000;
  --base-2: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #000000;
    --bg-pry: #E5E7EB;
    --fg-main: #ededed;
    --base-1: #F9FAFB;
    --base-2: #343434;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .visual-hide {
    visibility: null;
    opacity: 0;
    height: 1px;
    width: 1px;
    position: absolute;
    top: 100000000px;
    left: 99999999px;
  }
}
